# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv
.env
.venv/
env.bak/
venv.bak/

# Project specific
config.json
credentials.json
token.json
service_account.json
history.log
.upload_sessions/
data-upload/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
